body > #root > div {
  height: "100vh";
}

body {  
  margin: 0;
  font-family:  -apple-system, BlinkMacSystemFont,'Noto Sans KR', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fefefe;
 
}


a{
  text-decoration: none;
  color: #000000;
}
a:visited{
  color: #000000
}

code {
  font-family: -apple-system, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
